# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.egg-info/
dist/
build/

# Envs
.venv/
venv/
env/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Data local
data/raw/
data/bronze/
data/silver/
data/gold/

# DuckDB / logs
*.duckdb
*.log

# Secrets
.env
